<form asp-action="ForgotPassword" asp-controller="Users" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email">
    </div>
    <button type="submit" class="btn btn-primary">E-posta adresime şifre sıfırlama bağlantısı gönder</button>
</form>