@model ResetPasswordViewModel

<form asp-action="ResetPassword" asp-controller="Users" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" value="@Model.token" asp-for="token">
    
    <input type="hidden" value="@Model.Id" asp-for="Id">
    <div class="mb-3">
        <label for="Password" class="form-label">Yeni Parola</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>